body {
    background-color: #cccccc;
    background-image: radial-gradient(green, blue, purple);
}

a{
    color: #0FF;
}

article{
    color: #FFF;
    background-color: #113355;

    border-style: solid;
    border-color: #000;
    border-top-width: 2px;

    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 20px;
}

h1{
    color: #000000
}